<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.dao.AddressDao">

	<select id="showAddress" resultType="Address">
		select * from address where qid = #{qid}
	</select>
	
	<select id="showAddressById" resultType="Address">
		select * from address where id = #{id}
	</select>
	
	<insert id="addAddress" useGeneratedKeys="true" keyProperty="id">
		insert into address (qid,branch,address,tel,longitude,latitude) value (#{qid},#{branch},#{address},#{tel},#{longitude},#{latitude})
	</insert>
	
	<update id="editAddress">
		update address set
			branch = #{branch},
			address = #{address},
			tel = #{tel},
			longitude = #{longitude},
			latitude = #{latitude}
		where id = #{id}

	</update>
	
	<delete id="deleteAddress">
		delete from address where id = #{id}
	</delete>
</mapper>
