<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.dao.EnterpriseDao">
	<select id="findByQid" resultType="Enterprise">
		select *
		from enterprise
		where
		qid = #{qid}
	</select>
	
	<update id="editEnterprise">
		update enterprise set
			name = #{name},
			videopath = #{videopath},
			introduction = #{introduction},
			jczs = #{jczs}
		where qid = #{qid}
	</update>
	
	<insert id="addEnterprise" useGeneratedKeys="true" keyProperty="qid">
       insert into enterprise ()
       values ()
    </insert>  
</mapper>
