<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.dao.LessonDao">
	
	<resultMap type="VOutputLesson" id="lessonView">
		<id property="lid" column="lid" />
		<collection property="branches" column="lid" ofType="Lessonbranch"
			select="com.neuedu.dao.LessonbranchDao.findBranchidByLid" />
	</resultMap>
	
	<insert id="addLesson" useGeneratedKeys="true">
		insert into lesson (lname, lprice, imgurl, ldesc, category, qid, pubtime)
		values (#{lname}, #{lprice}, #{imgurl}, #{ldesc}, #{category}, #{qid}, now());
		<selectKey keyProperty="lid" resultType="int" order="AFTER">
			select last_insert_id();
		</selectKey>
	</insert>
	
	<update id="updateLesson">
		update lesson set
			lname = #{lname},
			lprice = #{lprice},
			imgurl = #{imgurl},
			ldesc = #{ldesc},
			category = #{category}
		where lid = #{lid}
	</update>
	
	<delete id="deleteLesson">
		delete from lesson
		where lid = #{lid}
	</delete>
	
	<select id="findAllByQid" resultType="Lesson">
		select *
		from lesson
		where qid = #{qid}
	</select>
	
	<select id="findAllByBranchid" resultType="Lesson">
		select *
		from lesson
		where lid in(
			select lid
			from lessonbranch
			where branchid = 1
		)
	</select>
	
	<select id="findById" resultMap="lessonView">
		select *
		from lesson
		where lid = #{lid}
	</select>
</mapper>
