<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.dao.LessonbranchDao">
	<insert id="insert" useGeneratedKeys="true">
		insert into lessonbranch (lid, branchid)
		values (#{lid}, #{branchid});
	</insert>
	
	<!-- 好吧是多对多... -->
	<update id="update">
		update lessonbranch set
			branchid = #{branchid}
		where lid = #{lid}
	</update>
	
	<delete id="deleteLesson">
		delete from lessonbranch
		where id = #{id}
	</delete>
	
	<delete id="deleteBranchesByLid">
		delete from lessonbranch
		where lid = #{lid}
	</delete>
	
	<select id="findById" resultType="Lessonbranch">
		select *
		from lessonbranch
		where id = #{id}
	</select>
	
	<select id="findBranchidByLid" resultType="Integer">
		select branchid
		from lessonbranch
		where lid = #{lid}
	</select>
</mapper>
