<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.dao.MessagelikeDao">
	<insert id="addLike" useGeneratedKeys="true">
		insert into messagelike (id, mid, nickname, stime)
		values (#{id}, #{mid}, #{nickname}, now())
	</insert>

	<delete id="deleteLike">
		delete from messagelike where id = #{id}
	</delete>
	
	<delete id="deleteLikeByMid">
		delete from messagelike where mid = #{mid}
	</delete>
	
	<select id="findAllByMid" resultType="Messagelike">
		select *
		from messagelike
		where mid = #{mid}
	</select>
</mapper>
