<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.dao.SorderDao">

	<insert id="addSorder" useGeneratedKeys="true" keyProperty="oid">
		insert into sorder (lid, openid, total, actual, status, ordertime,
		qid, nickname, tel,cid)
		values(#{lid}, #{openid}, #{total}, #{actual}, '待付款', now(), #{qid}, #{nickname},
		#{tel},#{cid})
	</insert>

	<update id="changeSorderState">
		update sorder set
		status = #{status}
		where oid = #{oid}
	</update>


	<select id="showSorder" resultType="sorder">
		select *
		from sorder
		where qid=#{qid}
	</select>

	<select id="showSorderByOthers" resultType="Sorder">
		select * from sorder
		where qid = #{qid}
		<if test="oid != null">
			and oid = #{oid}
		</if>
		<if test="status != null">
			and status = #{status}
		</if>
		<if test="(startTime != null) and (endTime != null)">
			and unix_timestamp(ordertime) > unix_timestamp(#{startTime})

			and unix_timestamp(ordertime) &lt; unix_timestamp(#{endTime})
		</if>
	</select>
	
	<select id="showHeXiao" resultType="Sorder">
		select *
		from sorder
		where qid = #{qid}
		and (status = '已付款' or status = '已使用')
	</select>
	
	<select id="showHeXiaoByOthers" resultType="Sorder">
		select * from sorder
		where qid = #{qid}
		and (status = '已付款' or status = '已使用')
		<if test="oid != null">
			and oid = #{oid}
		</if>
		<if test="status != null">
			and status = #{status}
		</if>
		<if test="(startTime != null) and (endTime != null)">
			and unix_timestamp(ordertime) > unix_timestamp(#{startTime})

			and unix_timestamp(ordertime) &lt; unix_timestamp(#{endTime})
		</if>
	</select>
	
	<select id="showRefund" resultType="Sorder">
		select * from sorder
		where qid = #{qid}
		and (status = '已退款' or status = '退款中')
	</select>
	
	<select id="showRefundByOthers" resultType="Sorder">
		select * from sorder
		where qid = #{qid}
		and (status = '已退款' or status = '退款中')
		<if test="oid != null">
			and oid = #{oid}
		</if>
		<if test="status != null">
			and status = #{status}
		</if>
		<if test="(startTime != null) and (endTime != null)">
			and unix_timestamp(ordertime) > unix_timestamp(#{startTime})

			and unix_timestamp(ordertime) &lt; unix_timestamp(#{endTime})
		</if>
	</select>
	
	<update id="dealHeXiao">
		update sorder set
		status = '已使用'
		where oid = #{oid}
	</update>

	<select id="showSorderByEle" resultType="Sorder">
		select *
		from sorder
		where qid = #{qid}
		and openid = #{openid}
		order by oid desc
	</select>
	
	<select id="showSorderAmount" resultType="int">
		select count(oid)
		from sorder
		where qid = #{qid}
	</select>
	
	<select id="showPaidFee" resultType="Double">
		select ifnull(sum(actual),0)
		from sorder
		where qid = #{qid}
		and (status = '已使用' or status = '已付款')
	</select>
	
	<select id="showPayingFee" resultType="Double">
		select ifnull(sum(actual),0)
		from sorder
		where qid = #{qid}
		and status = '待付款'
	</select>
	
	<select id="showSorderById" resultType="Sorder">
		select * from sorder 
		where oid=#{oid}
	</select>
	
</mapper>