<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.dao.SorderDao">
 
   <insert id="addSorder" useGeneratedKeys="true" keyProperty="oid">
   insert into sorder (lid,openid,total,cid,actual,status,ordertime,qid,transactionid,nickname,tel	)
   values(#{lid},#{openid},#{total},#{cid},#{actual},'待付款',now(),#{qid},#{transactionid},#{nickname},#{tel})
   </insert>
   
   <update id="changeSorderState">
   update sorder set
     status = #{status}
   where oid = #{oid}
   </update>
   
   
   <select id="showSorder" resultType="sorder">
   select *
   from sorder
   where qid=#{qid}
   </select>
   
   <select id="showSorderByOthers" resultType="Sorder">
   select * from sorder
		where qid = #{qid}
		<if test="oid != null">
	    	and oid = #{oid}
		</if>
		<if test="status != null">
	    	and status = #{status}
		</if>
		<if test="(startTime != null) and (endTime != null)">
	    	and unix_timestamp(ordertime) > unix_timestamp(#{startTime}) 
	    	
			and unix_timestamp(ordertime) &lt; unix_timestamp(#{endTime})
		</if>
   </select>
   
   
</mapper>